<div class="container p-1">
	<button
		class="btn btn-success btn-circle btn-sm mx-1"
		[disabled]="CreateButtonStatus"
		(click)="OpenCreateRetiro()"
	>
		<i class="fas fa-plus"></i>
	</button>
</div>
<div class="container card mb-2 py-2">
	<div class="row">
		<table
			[dataSource]="dataSource"
			mat-table
			class="full-width-table table-hover"
			matSort
			aria-label="Elements"
		>
			<ng-container matColumnDef="PastoName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="col">
					Retiro
				</th>
				<td mat-cell *matCellDef="let row">
					<span>{{ UpperCase(row.PastoName) }}</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="_id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="col"></th>
				<td mat-cell *matCellDef="let row">
					<button type="button" class="btn btn-primary btn-sm">REBANHO</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>

		<mat-paginator
			[length]="dataSource.data?.length"
			[pageIndex]="0"
			[pageSize]="10"
			[showFirstLastButtons]="true"
			[pageSizeOptions]="[5, 10, 25, 100]"
			aria-label="Select page"
		>
		</mat-paginator>
	</div>
</div>
