<div class="container p-1">
    <button  class="btn btn-success btn-circle btn-sm mx-1" [disabled]="CreateButtonStatus">
        <i class="fas fa-plus"></i>
    </button>
    </div>
<div class="container card mb-2 py-2 border-left-success">
    <div class="row">
        <div class="col order-fist">Nome do pasto</div>
        <div class="col">xxxx Machos</div>
        <div class="col">xxxx Fêmeas</div>
        <div class="col">xxxx Rebanho Total</div>
        <div class="col order-last"><button type="button" class="btn btn-primary btn-sm">Manejo</button></div>
    </div>
</div>