<div class="container p-1">
    <a  class="btn btn-success btn-circle btn-sm mx-1" (click)="createRetiro()">
        <i class="fas fa-plus"></i>
    </a>
    </div>
<div class="container card mb-2 py-2 border-left-success" *ngFor="let list of listOfRetiro">
    <div class="row">
        <div class="col order-fist">{{list.RetiroName}}</div>
        <div class="col">xxxx Machos</div>
        <div class="col">xxxx Fêmeas</div>
        <div class="col">xxxx Rebanho Total</div>
        <div class="col order-last"><button type="button" class="btn btn-primary btn-sm" (click)="OpenPasto(list._id)">Pastos</button></div>
    </div>
</div>