<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
            <fa-icon [icon]="faTractor"></fa-icon>
        </div>
        <div class="sidebar-brand-text mx-3">NOME CLIENTE<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <fa-icon [icon]="faGear"></fa-icon>
            <span> GERENCIAR</span></a>
        
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="client/farm">Fazendas</a>
                <a class="collapse-item" href="client/colaboradores">Colaboradores</a>
            </div>
        </div>
    </li>
</ul>
<!-- End of Sidebar -->