<div class="container p-2">
	<ul ngbNav #nav="ngbNav" class="nav-tabs">
		<li ngbNavItem class="p-1">
			<a ngbNavLink type="button" class="btn btn-outline-primary"
				>Permissões de Acesso</a
			>
			<ng-template ngbNavContent>
				<div class="container card mt-2 py-3" *ngFor="let list of farmList;let index = index;">
					<div class="row">
						<div class="col order-fist">{{ list.FarmName }}</div>
						<div class="col">
							<div class="form-check">
								<input (change)="EnabledSave()"
									class="form-check-input"
									type="radio"
									name="{{ list._id }}"
									id="SIM"
									[checked]="getAccessValeuSim(list._id, index)"
									value="{{list._id}}"
									(change)="SimEvent($event, index)"
									
								/>
								<label class="form-check-label" for="SIM"> SIM </label>
							</div>
						</div>
						<div class="col">
							<div class="form-check">
								<input (change)="EnabledSave()"
									class="form-check-input"
									type="radio"
									name="{{ list._id }}"
									id="NAO"
									[checked]="getAccessValeuNao(list._id)"
									(change)="NaoEvent(index)"
								/>
								<label class="form-check-label" for="NAO"> NÃO </label>
							</div>
						</div>
					</div>
				</div>
				<div class="d-grid gap-2 col-6 mx-auto p-2">
					<button type="button" class="btn btn-outline-success" [disabled]="enabled" (click)="save()">SALVAR</button>
				</div>
			</ng-template>
		</li>
		<li ngbNavItem class="p-1">
			<a ngbNavLink type="button" class="btn btn-outline-primary">Second</a>
			<ng-template ngbNavContent>Second content</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav"></div>
</div>
