<div class="container p-2">
	<ul ngbNav #nav="ngbNav" class="nav-tabs">
		<li ngbNavItem class="p-1">
			<a ngbNavLink type="button" class="btn btn-outline-primary"
				>Permissões de Acesso</a
			>
			<ng-template ngbNavContent>
				<div class="container p-2">
					<ul class="list-group list-group-horizontal-sm">
						<li class="list-group-item">Nome da Fazenda</li>
						<li class="list-group-item pl-4">
							<input
								class="form-check-input me-1"
								type="checkbox"
								value="true"
								id="sim"
							/>
							<label class="form-check-label" for="sim">sim</label>
						</li>
						<li class="list-group-item pl-4">
							<input
								class="form-check-input me-1"
								type="checkbox"
								value="false"
								id="nao"
							/>
							<label class="form-check-label" for="nao">não</label>
						</li>
					</ul>
				</div>
			</ng-template>
		</li>
		<li ngbNavItem class="p-1">
			<a ngbNavLink type="button" class="btn btn-outline-primary">Second</a>
			<ng-template ngbNavContent>Second content</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav"></div>
</div>
